body {
  font-family: 'Lato', sans-serif;
  background-color: #d6d6d6;
  overflow-x: hidden;
  font-size: 16px;
  color: #363636;
  padding: 10px;
  margin-left:auto;
        margin-right:auto;
  
}

html {
  text-align: center;
}

table.center {
  margin-left: auto; 
  margin-right: auto;

}
table, td {
  
  border-collapse: collapse;
  padding: 1rem;
}

td {
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 50px;
}

td:hover {
  background-color: #d1d1d1;
}



table {
border-collapse: collapse;
margin: 0 auto;
}
table td {
padding: 1rem;
border: 2px solid black; 
}
table tr:first-child td {
border-top: 0;
}
table tr td:first-child {
border-left: 0;
}
table tr:last-child td {
border-bottom: 0;
}
table tr td:last-child {
border-right: 0;
}

